[submodule "ext/json"]
	path = ext/json
	url = https://github.com/nlohmann/json.git
[submodule "ext/gtest"]
	path = ext/gtest
	url = https://chromium.googlesource.com/chromium/testing/gtest
[submodule "ext/curl"]
	path = ext/curl
	url = https://github.com/anuragsoni/curl.git
